<h2>SLIDER</h2>
<h3>Selection</h3>
<p>Select a folder where you have placed the slideshow images and save..</p>
<p>The slideshow will automatically adapt to the format (16/9, 4/3,...) or orientation of the images but the best visual result
 will be obtained with images of the same format and orientation. But you are free to mix different images...</p>
<p>The slideshow will display the image in the same container whatever its size, an image too small will be dilated,
 an image that is too large will increase the loading time of the slideshow. I advise you to use images with a minimum width of 800px
 if your setting of the "Maximum width of the slideshow" is 800px.</p>
<h3>Settings</h3>
<video width="600" height="440" style="display: block; margin-left: auto; margin-right: auto;" controls="controls"><source src="https://deltacms.fr/site/file/source/video/slider_EN.mp4" type="video/mp4" /></video>