<h2>SLIDER</h2>
<h3>Sélection</h3>
<p>Sélectionnez un dossier où vous avez placé les images du diaporama puis enregistrer.</p>
<p>Le diaporama va s'adapter automatiquement au format (16/9, 4/3,...) ou à l'orientation des images mais le meilleur résultat visuel
 sera obtenu avec des images de même format et de même orientation. Mais vous êtes libre de mixer différentes images...</p>
<p>Le diaporama va afficher l'image dans le même conteneur quelque soit sa taille, une image trop petite va être dilatée,
 une image trop grande va augmenter le temps de chargement du diaporama. Je vous conseille des images de largeur minimum 800px
 si votre paramétrage de la " Largeur maxi du diaporama " est à 800px.</p>
<h3>Paramétrage</h3>
<iframe title="slider_FR" src="https://video.ploud.fr/videos/embed/45f263c5-6c1b-4a5d-a05e-7bd76e5232e3" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="560" height="315" frameborder="0"></iframe>