/**
 * This file is part of DeltaCMS.
 */


/** NE PAS EFFACER
* admin.css
*/

#setupContainer {
    display: block;
}

.activeButton {
    filter : brightness(150%);    
}

.buttonNotice {
    border: 2px solid red !important; 
    border-radius: 2px;
}