<h3>PRIMARY FILTERING</h3>
<p>Primary filtering allows you to not register sessions in the following cases:</P>
<p> - an IP from the 'IP Filtering' list is recognised, this list is empty at initialisation, you can add IPs in dotted decimal format (example 156.23.45.185), the proposed IP is yours,</p>
<p> - a robot is recognized from a complex file included in Statislite, you can add the marker of an unknown robot listed in the User Agent connection parameter.</p>
<p>Primary filtering also allows you to not register pages in the 'Page Filtering' list, this list is initialized with the name of the statistics page, select pages from the list. </p>
