<h3>FILTRAGE PRIMAIRE</h3>
<p>Le filtrage primaire permet de ne pas enregistrer les sessions dans les cas suivants :</P>
<p> - un IP de la liste 'Filtrage des IP' est reconnu, cette liste est vide à l'initialisation, vous pouvez ajouter des IP au format décimal pointé (exemple 156.23.45.185), l'IP proposé est le vôtre,</p>
<p> - un robot est reconnu à partir d'un fichier complexe inclus dans Statislite, vous pouvez ajouter le repère d'un robot inconnu inscrit dans le paramètre de connexion User Agent.</p>
<p>Le filtrage primaire permet également de ne pas enregistrer les pages de la liste 'Filtrage des pages', cette liste est initialisée avec le nom de la page de statistiques, sélectionnez les pages dans la liste. </p>
