<h2>STATISLITE</h2>
<h3>Filtering</h3>
<p>Filtering allows you to remove sessions or pages from the statistics. It is done in 2 steps, a primary filtering commented in the advanced configuration
and the secondary filtering that can be configured here.</p> <p>
<p> * Primary filtering is based on the recognition of robots,IPs belonging to a list, pages belonging to another list,</P>
<p> *Secondary filtering is based on behaviour: time spent on a page, time visited, number of pages viewed, users excluded.</P>
<p>Setting the 'Minimum number of page views' to 1 is not recommended, in this case no time control can operate.</P>
<h3>Disable sessions</h3>
<p>To allow adjustment of filtering settings a list of the last 200 bots and a list of the last 200 invalidated sessions are available, where they exist.</P>
<h3>Updates</h3>
<p>To display the user's language, browser and operating system, Statislite uses 3 files that you can add to: languages.txt, browsers.txt and systems.txt, they are located in the site/data/statislite/module/ folder.  
During an update you can be notified of the evolution of these files in the module archive, to update from this archive check the 'Validate update' box, after possibly saving these files.</P>
<h3>Saving et initializing</h3>
<p>The files are saved with a name formed by year, month, day, hour, minutes, seconds followed by '_cumul.json'.</P>
<p>To load a saved statistics file, select it from the list then save the configuration.</p>
<p>'Reset' deletes the statistics, an automatic precautionary copy is made beforehand.</p>
<h3>Clicked links counter</h3>
<p>You can count the clicks made on certain links. To do this, the link must have the "clicked_link_count" class, which must be selected in the Tinymce link editor ('Class' selector).</p>
<h3>More</h3>
<iframe title="statislite_EN" src="https://video.ploud.fr/videos/embed/db4811ba-be34-41e4-861d-31a7bfe32de0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="560" height="315" frameborder="0"></iframe>