<h2>PHOTO ALBUM</h2>
<h3>Presentation</h3>
<p>The Album module displays high-resolution thumbnails respecting the proportions and orientation of the photos, and offers additional functions which notably allow you to correctly display your photos from your digital devices, directly sent by FTP to your server in line.</p>
<p>the Album is integrated into the DeltaCMS graphic charter, the default display is simple, it is easy to modify it to harmonize it with your site, taking inspiration from the style data present in the file of personalization, editable from the CMS interface: -> Customize themes -> CSS editor.</p>
<p>The overall operation of the Album module is simple, its interface is ergonomic.</p>
<h3>Video</h3>
<video width="600" height="440" style="display: block; margin-left: auto; margin-right: auto;" controls="controls"><source src="https://deltacms.fr/site/file/source/video/album_EN.mp4" type="video/mp4" /></video>
<h3>Features</h3>
<p><strong>Rename, Reorient, Resize</strong></p>
<p>- Non-alphanumeric characters and spaces are removed from photo names.</p>
<p>- If necessary, the photo is reoriented.</p>
<p>- Photos that are too large, and therefore too heavy, take a long time to display, or are not displayed at all in certain cases. For a smooth and quick display of the gallery, photos that are too large are sized to the maximum size corresponding to the current display of high-resolution screens, the original photos are preserved and are accessible via a link under the corresponding thumbnail , to distinguish these photos from those not resized, their names are displayed in a different color, note that if the caption does not exist, it is replaced by the name of the photo.</p>
<p>This processing of images, and the creation of corresponding thumbnails, is only done on the first display of the gallery.</p>
<p><strong>Geo-Location</strong></p>
<p>This function allows you to geo-locate on a topographic map, or satellite, photos that include the EXIF GPS tag, and to give their altitudes</p>