<h2>ALBUM PHOTO</h2>
<h3>Présentation</h3>
<p>Le module Album affiche des miniatures en haute résolution respectant les proportions et l’orientation des photos, et offre des fonctions supplémentaires qui permettent notamment d'afficher correctement vos photos issues de vos apparels numériques, directement envoyées par FTP sur votre serveur en ligne.</p>
<p>l'Album s’intègre dans la charte graphique de DeltaCMS, l'affichage par défaut est sobre, il est facile de le modifier pour l’harmoniser avec votre site, en s'inspirant des données de style présentes dans le fichier de personnalisation, modifiable depuis l'interface du CMS : -> Personnaliser les thèmes -> Éditeur CSS.</p>
<p>Le fonctionnement global du module Album est simple, son interface est ergonomique.</p>
<h3>Video</h3>
<video width="600" height="440" style="display: block; margin-left: auto; margin-right: auto;" controls="controls"><source src="https://deltacms.fr/site/file/source/video/album_FR.mp4" type="video/mp4" /></video>
<h3>Fonctionnalités</h3>
<p><strong>Renomme, Réoriente, Redimensionne</strong></p>
<p>- Les caractères non alphanumériques et les espaces sont supprimés des noms des photos.</p>
<p>- Si besoin, la photo est réorientée.</p>
<p>- Les photos trop grandes, donc trop lourdes, mettent beaucoup de temps à s’afficher, ou ne s’affichent pas du tout dans certains cas. Pour un affichage fluide et rapide de la galerie, les trop grandes photos sont dimensionnées à la taille maximum correspondant à l’affichage courant des écrans en haute résolution, les photos d’origine sont conservées et sont accessibles par un lien présent sous la vignette correspondante, pour distinguer ces photos de celles non redimensionnées, leurs noms s’affichent dans une couleur différente, notez que si la légende n’existe pas, elle est remplacée par le nom de la photo.</p>
<p>Ce traitement des images, et la création des vignettes correspondantes, se fait seulement au premier affichage de la galerie.</p>
<p><strong>Géo-Localisation</strong></p>
<p>Cette fonction permet de géo-localiser sur une carte topographique, ou satellite, les photos qui intègrent la balise EXIF GPS, et de donner leurs altitudes</p>
